<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
		.outline {
			display: inline-block;
			margin: 20%;
			padding: 20px;
			height: 200px;
			width: 200px;
			background: yellowgreen;
			border: 20px solid #655;
			outline: 5px dashed deeppink;
			border-radius: 50px;
			box-shadow: 0 0 5px 5px blue;
		}
	</style>
</head>

<body>
	<div class='outline'></div>
</body>

</html>